<!DOCTYPE html>
<html lang="en">
 <head>
   <title>TeamName2 Project</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 </head>

  
 <body>
  <div class="container mt-4">
    <a href="/profile/profileLanding?userId=" class="btn btn-primary position-relative">Profile</a>
  </div>
  
  <div class="container mt-4">
    <h1 class="text-center">TEMP NAME</h1>
  </div>

  <div class="container mt-4">
    <div class="card">
      <div class="class-body">
        <h4>Average Completion Rate:</h4>
        <h4>Most Productive Day: </h4>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">Members</h1>
      </div>
      <div id="accordian">
        
      </div>
    </div>
  </div>
</body>
</html>