<!DOCTYPE html>
<html lang="en">
 <head>
   <title>TeamName2 Project</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 </head>

  <body>
    <div class="container mt-4">
      <a href="/profile/profileLanding?userId=<%= userId%>" class="btn btn-primary position-relative">Profile</a>
    </div>
    <div class="container mt-4">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">My Groups</h1>
        </div>
        <div id="accordian">
          <% data.forEach(item => {%>
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="mx-4">
                    <h4 id=<%= item.checkListId%>><%= item.names%></h4>
                  </div>
                  <div class="mx-4">
                    <a href="tbd" class="btn btn-primary">Go to Group</a>
                  </div>
                  <div class="mx-4">
                    <a  class="btn btn-primary" href="/groups/leaveGroup?method=DELETE&groupId=<%= item.groupId%>">Leave Group</a>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
        </div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm">
              <form action="/groups/createGroup" method="POST">
                <label for="newGroup">Create New Group</label>
                <input type="text" class="form-control col-lg-9" placeholder="Enter Group Name" name="newGroup">
                <button type="submit" class="btn btn-primary mt-2">Create</button>
              </form>
            </div>
            <div class="col-sm">
              <form action="/groups/joinGroup" method="POST">
                <label for="groupId">Join a Group</label>
                <input type="text" class="form-control col-lg-9" placeholder="Enter GroupId" name="groupId">
                <button type="submit" class="btn btn-primary mt-2">Join</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>