<!DOCTYPE html>
<html lang="en">
 <head>
   <title>TeamName2 Project</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 </head>

  <body>
    <div class="container mt-4">
      <h1 class="text-center"><%=names%></h1>
    </div>

    <div class="container mt-4">
      <div class="card">
        <div class="class-body">
          <h4>Completion Rate: <%=completionRate%></h4>
        </div>
      </div>
      <a href="/checklist/landing?userId=<%= userId%>" class="btn btn-primary mt-4">My Checklists</a>
      <a href="/groups/landing?userId=<%= userId%>" class="btn btn-primary mt-4">My Groups</a>

    </div>
  </body>
</html>